body{background-color: gray;
color: aliceblue;}

body {
    width: 40vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    
    max-width: 160px;
    max-height: 160px;
    margin: 0 auto;
    padding: 0px;
}

section img {
    width: 100%;
    border-radius: 60%;
}

p{
    text-align: justify;
}

section p{
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

h1{text-align: center;
margin-bottom: 10px;}

.card {
    width: 160px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.card-container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 10px;
}

@media (min-width: 690px) {
    body {
    width: 60dvw;
    height: auto;
    margin: 0 auto;
    display: flex;
    }    
}