<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portifólio</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
            rel="stylesheet"
        />
        <link
            rel="shortcut icon"
            href="/Model/IMG/icons8-portfólio-32.png"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="/Model/CSS/style.css" />
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="#home" class="active">Home</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <section class="home" id="home">
            <img src="/Model/IMG/luiz.png" alt="" />
            <div class="home-content">
                <h1>Hello World! My name is <span>Luiz Felipe</span></h1>
                <h3 class="text-animation">and I’m<span></span></h3>
                <p>
                    passionate about technology and software development. I’m
                    currently working as an Intern Software Engineer and
                    constantly seeking new challenges and learning
                    opportunities.
                </p>
            </div>
        </section>
        <section>
            <div id="education">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Labore, voluptatem pariatur quia dignissimos explicabo
                architecto, voluptas aliquid, impedit quasi laboriosam at sit
                optio? Rerum quae quam voluptas! Delectus, atque accusantium!
            </div>
        </section>
        <section>
            <div id="services">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Labore, voluptatem pariatur quia dignissimos explicabo
                architecto, voluptas aliquid, impedit quasi laboriosam at sit
                optio? Rerum quae quam voluptas! Delectus, atque accusantium!
            </div>
        </section>
        <section>
            <div id="testimonials">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Labore, voluptatem pariatur quia dignissimos explicabo
                architecto, voluptas aliquid, impedit quasi laboriosam at sit
                optio? Rerum quae quam voluptas! Delectus, atque accusantium!
            </div>
        </section>
        <div class="social-icons" id="contact">
            <div class="social-card">
                <a href="https://www.instagram.com/lzfmb/" target="_blank">
                    <i class="bx bxl-instagram"></i>
                    <span>@lzfmb</span>
                </a>
            </div>
            <div class="social-card">
                <a href="https://github.com/Luizfelipereal007" target="_blank">
                    <i class="bx bxl-github"></i>
                    <span>Github</span>
                </a>
            </div>
            <div class="social-card">
                <a href="tel:+5567992978887">
                    <i class="bx bxs-phone"></i>
                    <span>(67) 99297-8887</span>
                </a>
            </div>
        </div>
    </body>
</html>
